.home::before {
    content: ""; 
    background: url('https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&w=400') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    border-image: fill 0 linear-gradient(#0003, #000);
}

.home {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    margin-top: -3rem;
    width: 100vw;
    height: 100vh;
    max-width: 1200px;
}

.home_heading {
    /* text-align: center; */
    margin-bottom: 20px;
}

.home_heading h1 {
    font-size: 35px;
    color: #ffffff;
    
}

.home_para {
    /* text-align: center; */
    margin-bottom: 20px;
    width: 60vw;
}

.home_para p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;

}

.btn_home {
    margin-left: -0.7rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 767px) {

    .home_heading h1 {
        font-size: 20px;
    }

    .home_para p {
        font-size: 14px;
    }
}

@media (max-width: 1263px) {

    .home_para {
        width: auto;
    }
}



.intro_section {
    max-width: 1200px;
    margin: 3rem auto;
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro_section h2 {
    font-size: 2.5rem;
    color: #333333;
    margin-bottom: 1.5rem;
}

.intro_section p {
    font-size: 1.125rem;
    color: #777777;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .intro_section {
        padding: 1rem;
    }

    .intro_section h2 {
        font-size: 2rem;
    }

    .intro_section p {
        font-size: 1rem;
    }
}